.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 18rem;
  }
.home-endPage{
  margin-bottom: 80px;
}